{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'MeetMyExpert/css/master.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% block headcontent %}


    {% endblock %}
    <title>Meet My Expert</title>
</head>
<body>

<div class="container-fluid px-0 mmeContainer">     <!-- container of all elements-->
     <!--top most header-->
    <div class="topHeader container-fluid m-0 fixed-top">

        <nav class="navbar navbar-expand-sm text-light navbar-dark mb-0">
            <a class="navbar-brand" href="{% url 'home' %}" style="font-family:'DejaVu Serif Condensed' "><strong>MEET MY EXPERT</strong></a><!--main logo-->

            <!--collapse button for small screen-->
            <button type="button" class="navbar-toggler " data-toggle="collapse" data-target="#collapseButton">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!--navbar list starts here-->
            <div class="collapse navbar-collapse " id="collapseButton">
                <ul class="navbar-nav float-right" >
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" href="#"  data-toggle="dropdown">About Us</a>

                        <!--sublist 1-->
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Link 1</a>
                            <a class="dropdown-item" href="#">Link 2</a>
                            <a class="dropdown-item" href="#">Link 3</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" data-toggle="dropdown" href="#">For Experts</a>

                        <!--sublist 2-->
                        <div class="dropdown-menu ">
                            <a class="dropdown-item" href="#">Link 1</a>
                            <a class="dropdown-item" href="#">Link 2</a>
                            <a class="dropdown-item" href="#">Link 3</a>
                        </div>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item ">
                            <a class="nav-link text-light" href="{% url 'accounts:logout' %}"><i class="glyphicon glyphicon-user"></i><b>Logout ({{ user.username }})</b></a></li>           <!--login button-->
                    {% else %}
                       <li class="nav-item ">
                           <a class="nav-link text-light" href="{% url 'accounts:login' %}"><b>LogIn</b></a></li>
                        <li class="nav-item ">
                            <a  class="nav-link text-light" href="{% url 'accounts:signup' %}"><b>SignUp</b></a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>


    <!--block for other html page to be indexed inside this html block content-->

    {% block content %}


    {% endblock %}



     <!-- footer -->
     <div class="footer container-fluid bg-secondary pt-4 " id="footer">
        <div class="row">

            <div class="col-sm-4 col-xs-12">
                <ul style="list-style-type: none; display:block;" >
                    <li><h3><a  class="text-light" >Important links</a></h3></li>
                    <hr >
                    <li><a href="{% url 'experts:expert_new' %}" class="text-light" >Become an expert</a></li>
                    <li><a href="#" class="text-light" >Book consultation</a></li>
                    <li><a href="#">Book appointment</a></li>
                    <li><a href="{% url 'blog:postslistpage' %}">Visit PostFeed</a></li>
                    <li><a href="{% url 'blog:post_new' %}">Post Article</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="{% url 'accounts:contactus' %}">Contact Us</a></li>

                </ul>
            </div>

            <div class="col-sm-4 col-xs-12 "  >
                 <ul style="list-style-type: none; display:block;" >
                    <li><h3><a class="text-light" >Quick Search for</a></h3></li>
                    <hr >
                    <li><a href="{% url 'expert:expertsprofessionlistpage' profession='Doctor'%}" class="text-light" >Doctors</a></li>
                    <li><a href="{% url 'expert:expertsprofessionlistpage' profession='Engineer'%}">Engineers</a></li>
                    <li><a href="{% url 'expert:expertsprofessionlistpage' profession='Lawyer'%}">Lawyers</a></li>
                    <li><a href="{% url 'expert:expertsprofessionlistpage' profession='Professor'%}">Professors</a></li>
                     <li><a href="{% url 'expert:expertsprofessionlistpage' profession='Consultant'%}">Career consultant</a></li>
                    <li><a href="{% url 'expert:expertsprofessionlistpage' profession='Businessman'%}">Businessman</a></li>
                    <li><a href="{% url 'expert:expertsprofessionlistpage' profession='Spiritualist'%}">Spiritualists</a></li>

                </ul>
            </div>

            <div class="col-sm-4 col-xs-12 "  >
                 <ul style="list-style-type: none; display:block;" >
                    <li><h3><a  class="text-light" >Connect Us</a></h3></li>
                    <hr >
                    <li><a href="#" class="text-light" >Facebook</a></li>
                    <li><a href="#">LinkedIn</a></li>
                    <li><a href="#">Youtube</a></li>
                    <li><a href="#">Twitter</a></li>

                </ul>
            </div>
        </div>
        <br>
    </div>
</div>

<!--javascriptcdn goes here-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>



<!-- native script link-->


<!--<script href="/home/anshuman/PycharmProjects/untitled2/js/bootstrap.bundle.js"></script>
<script href="/home/anshuman/PycharmProjects/untitled2/js/bootstrap.js"></script>
-->
</body>
</html>