{% extends 'expert/expert_base.html' %}
{% load static %}
{% load bootstrap3 %}
 {% block headcontent %}
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

     <link rel="stylesheet" href="{% static 'MeetMyExpert/expert/css/expert_form.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 {% endblock %}

{% block content %}
    <div class="bodysecondary">
        <!--space between headers-->
        <div class="space" style="height:0.3rem; "></div>

        <!-- bottom and last header-->
        <div class="bottomHeader container-fluid">
        <div class="row  text-light py-1">
            <div class="col-md-4 col-xs-12 mx-auto">
                <a href="#" class="text-light"><h4><i class="glyphicon glyphicon-home"></i>Expert in</h4></a>
            </div>
            <div class="col-md-4 col-xs-12 mx-auto">
                <a href="#" class="text-light"><h4><i class="glyphicon glyphicon-user"></i>All Filters </h4></a>
            </div>
            <div class="col-md-4 col-xs-12 mx-auto">
                <a href="#" class="text-light"><h4><i class="glyphicon glyphicon-education"></i>Sort By</h4>
                </a>
            </div>
        </div>
    </div>
         <br>
        <!-- Experts info cards-->
        <div class="row">
            <diV class="col-md-2 col-xs-1">

            </diV>
            <diV class=" Formcontainer col-md-8 col-xs-10">

                <h1 style="text-align: center">Hello Expert! Post the world what you thinks</h1>
                 <form method="post" enctype="multipart/form-data" >
                         {% csrf_token %}
                          {% bootstrap_form form %}
                         <input type="submit" class="btn btn-primary" value="SEND">
                    </form>
                    <br>
            </diV>
            <diV class="col-md-2 col-xs-1">

            </diV>
        </div>
         <br><br>
    <!--javascriptcdn goes here-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{% endblock %}



